body.ibm-blockchain{
  .ibm-landing-page #ibm-content-body {
    padding-top: 0px;
  }
  #ibm-content-body {
      padding-top: 0px;
  }
}

#ibm-leadspace-body, #ibm-leadspace-head {
    position: relative;
    .grad {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.7);
      display: none;
      z-index: 0;
      top: 0;
      left: 0;
      @include respond-to-max(smaller) {
        display: block;
      }
    }
}
.disable-grad-mobile{
  .grad{opacity:0 !important;}
}
#ibm-leadspace-social {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 50;
}
#ibm-leadspace-social .ibm-leadspace-social-links div {
    float: right;
}
#ibm-leadspace-social .ibm-leadspace-social-links p {
    display: inline-block;
}
#ibm-leadspace-social .ibm-leadspace-social-links p.ibm-ind-link a {
    width: 32px;
    height: 32px;
    position: relative;
    top: 13px;
    padding: 0;
    margin-left: 15px;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}
#ibm-leadspace-social .ibm-leadspace-social-links p.ibm-ind-link a::before{
  color:#00b0d9!important;
}
#ibm-leadspace-social .ibm-leadspace-social-links p.ibm-ind-link a span {
    display: none;
}



@media only screen and (max-width: 579px){
  #ibm-leadspace-social .ibm-leadspace-social-links {
    text-align: center;
  }
}
@media only screen and (max-width: 768px){
  #ibm-leadspace-social {
    position: relative;
    margin-top: -30px;
  }
}
@media only screen and (max-width: 579px)
{
#ibm-leadspace-social .ibm-leadspace-social-links div {
    display: inline-block;
    float: none;
  }
}

.leadspace-social{
  p {
    display: inline-flex;
    a::before{
      color:#00b0d9!important;
    }
  }
  p:first-child{
    margin-right: 5px;
  }
}
.leadspace-social-container{
  position:absolute;
  bottom:-35px;
}
.ibm-padding-top-bc-15{
  padding-top: 15px!important;
}

@media only screen and (max-width: 579px)
{
  .ibm-card__bottom {
    position: relative!important;
    padding: 0px 20px 20px 20px;
    p{
      padding-top:0!important;
    }
  }
}


.ibm-video-timestamp{
    position: absolute;
   bottom: 0px;
   left: 0;
   width: 100%;
   background-color: rgba(0,0,0,0.7);
   text-align: right;
   font-size: 13px;
   color: #FFF;
   padding: 3px 5px;
   box-sizing: border-box;
}
.ibm-video-placeholder .ibm-video-timestamp{
   bottom: 3px;
}


.bluemix-table thead tr {
   background: #C0E6FF ;
   color: #5596E6 ;
}
.bluemix-table tbody tr:nth-child(even) {
   background: #F3F6FC ;
}
.bluemix-table thead th, .bluemix-table tbody td, .bluemix-table tbody th {
    padding: 15px 0;
}
.bluemix-table tbody th {
  font-family: "HelveticaNeue-Bold", "HelvBoldIBM", Arial, sans-serif;
     font-weight: normal;
}
.bluemix-table td{
  vertical-align: middle;
}
.bluemix-table th:first-letter,td:first-letter{
  text-transform: capitalize
}


//feature grid section

.featured-tiles .tile-cat a:hover,
.featured-tiles a:hover {
    text-decoration: none
}
.co_wrapper_cover,
.co_wrapper_personalization,
.co_wrapper_tile,
.co-wrapper-cover,
.co-wrapper-personalization,
.co-wrapper-tile,
 {
    display: flex;
    flex-flow: row wrap;
    background-color: #ccc
}
.co_wrapper_tile,.co-wrapper-tile {
    float: left;
    align-content: flex-start;
    width: 50%;
    min-width: 25%;
    min-height: calc 75vw
}
div[class*=co_tile_1],div[class*=co-tile-1] {
    flex: 1 0 100%;
    height: calc(50vw * .75)
}
.co_tile_2,
.co_tile_3,
.co_tile_4,
.co_tile_5,
.co_tile_6,
.co_tile_7,
.co_tile_8,
.co_tile_9,
.co-tile-2,
.co-tile-3,
.co-tile-4,
.co-tile-5,
.co-tile-6,
.co-tile-7,
.co-tile-8,
.co-tile-9
 {
    flex: 1 0 50%;
    height: calc(25vw * .75)
}

//Handle borders
.co_tile_1,.co-tile-1{
  box-sizing: border-box;
  border-right: 2px solid #fff;
}
.co_tile_2,.co-tile-2{
  box-sizing: border-box;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.co_tile_3,.co-tile-3{
  box-sizing: border-box;
  border-left: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
}
.co_tile_4,.co-tile-4{
  box-sizing: border-box;
  border-right: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
}
.co_tile_5,.co-tile-5{
  box-sizing: border-box;
  border-left: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
}

@media only screen and (min-width: 580px) and (max-width: 1024px) {
    .co_wrapper_cover,.co-wrapper-cover {
        height: calc(100vw - 131px);
        min-height: 600px
    }
    .co_wrapper_tile,.co-wrapper-tile {
        float: none;
        width: 100vw;
        min-height: calc(75vw)
    }
    div[class*=co_tile_1],div[class*=co-tile-1] {
        height: calc(75vw)
    }
    .co_tile_2,.co-tile-2,
    .co_tile_3,.co-tile-3,
    .co_tile_4,.co-tile-4,
    .co_tile_5,.co-tile-5,
    .co_tile_6,.co-tile-6,
    .co_tile_7,.co-tile-7,
    .co_tile_8,.co-tile-8,
    .co_tile_9,.co-tile-9{
        flex: 1 0 50%;
        height: calc(50vw * .75)
    }
}
@media only screen and (min-width: 0px) and (max-width: 579px) {
    .co_wrapper_cover,.co-wrapper-cover {
        height: calc(100vw - 131px);
        min-height: 300px
    }
    .co_wrapper_tile,.co-wrapper-tile {
        float: none;
        width: 100vw;
        min-height: calc(50vw)
    }
    div[class*=co_tile_1],div[class*=co-tile-1] {
        min-height: calc(75vw)
    }
    .co_tile_2,.co-tile-2,
    .co_tile_3,.co-tile-3,
    .co_tile_4,.co-tile-4,
    .co_tile_5,.co-tile-5,
    .co_tile_6,.co-tile-6,
    .co_tile_7,.co-tile-7,
    .co_tile_8,.co-tile-8,
    .co_tile_9,.co-tile-9 {
        flex: 1 0 100%;
        min-height: calc(25vw * 1.5);
    }
    .tile-sm{
      border:none;
      border-bottom: 1px solid #c7c7c7;
    }
    .tile-sm:last-of-type{
      border: none;
    }
}
.featured-tiles {
    transition: all .2s ease;
    overflow: hidden;
    //padding: 20px 0 0
}
.featured-tiles .tile-cat {
    padding: 30px 30px 0
}
.featured-tiles .tile-cat a {
    padding-bottom: 15px;
    width: auto
}
@media (max-width: 1239px) {
    .featured-tiles .tile-cat a {
        font-size: 25px;
        padding-bottom: 5px;
        line-height: 25px
    }
}
@media (max-width: 999px) {
    .featured-tiles .tile-cat a {
        padding-bottom: 15px
    }
}
.featured-tiles .tile-cat a:visited {
    color: #fff
}
.featured-tiles .tile-cat a.ibm-icon-after:after {
    content: "\f136"
}
.featured-tiles .featured-content {
    position: relative;
    color: #fff
}
.featured-tiles .featured-content .tile-content-bottom {
    padding: 0 30px 30px;
    position: absolute;
    bottom: 0
}
.featured-tiles .featured-content .tile-content-bottom a.ibm-external-link:after {
    content: "\f131"!important;
    right: 18px!important;
}
.featured-tiles .featured-content .tile-content-bottom a.ibm-forward-link:after {
    content: "\f13a"!important;
    right: 18px!important;
}
@media (max-width: 1239px) {
    .featured-tiles .featured-content .tile-content-bottom {
        padding-top: 0
    }
}
.featured-tiles .tile-sm {
    position: relative
}
.featured-tiles .tile-sm .tile-cat {
    padding: 20px 20px 0
}
@media (max-width: 1239px) {
    .featured-tiles .tile-sm .tile-cat {
        padding-top: 15px
    }
}
.featured-tiles .tile-sm .tile-content-bottom {
    position: absolute;
    bottom: 30px;
    padding: 0 30px
}
.featured-tiles .tile-sm .tile-content-bottom a.ibm-external-link:after {
    content: "\f131"!important
}
.featured-tiles .tile-sm .tile-content-bottom a.ibm-forward-link:after {
    content: "\f13a"!important
}
@media (max-width: 1239px) {
    .featured-tiles .tile-sm .tile-content-bottom {
        bottom: initial!important
    }
}
@media (max-width: 999px) {
    .featured-tiles .tile-sm .tile-content-bottom {
        bottom: initial!important
    }
}
.featured-tiles .tile-sm:hover {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4));
    transition: all .2s ease
}
@media (max-width: 579px) {
    .featured-tiles .tile-sm .tile-content-bottom {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        bottom: auto
    }
    .featured-tiles .tile-sm {
        width: 100%
    }
}
.bg-image-cover {
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
}

.home-developers-section li:before{
  color:#ffffff;
}
